@import "tailwindcss";

@theme {
  /* Primary Colors (Teal) */
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-200: #99f6e4;
  --color-primary-300: #5eead4;
  --color-primary-400: #2dd4bf;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-800: #115e59;
  --color-primary-900: #134e4a;
  --color-primary-950: #042f2e;

  /* Secondary Colors (Blue) */
  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
  --color-secondary-950: #082f49;

  /* Fonts */
  --font-sans: var(--font-inter);
}

/* Custom Base Styles */
@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 80rem;
    /* 1280px */
    width: 100%;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }
}